@model IEnumerable<Ulaznicar.Models.Dogadjaj>

@{
    ViewBag.Title = "Popis događaja";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Plakat
        </th>
        <th>
            Naziv
        </th>
        <th>
            Datum održavanja
        </th>
        <th>
            Lokacija
        </th>
        <th>
            Broj mjesta
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                <img id="the-image" src="@Url.Action("Show", "Dogadjaj", new { plakat = item.plakat })" style="max-height:250px; max-width:300px; border-radius:10px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija.adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojmjesta)
            </td>
            <td>
                @Html.ActionLink("Kupi ulaznicu", "Create", "Karta", new { id=item.Id })
            </td>
        </tr>
}

</table>
