@model Ulaznicar.Models.Dogadjaj

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje događaja</h2>

<h3>Jeste li sigurni da želite ukloniti zapis?</h3>
<div>
    <h4>Dogadjaj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brojmjesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojmjesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plakat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plakat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokacija.adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija.adresa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
