@model Ulaznicar.Models.Dogadjaj

@{
    ViewBag.Title = "Detalji";
}
@using Microsoft.AspNet.Identity
<h2>Detalji</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Plakat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plakat)
        </dd>
        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            Broj mjesta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojmjesta)
        </dd>

        <dt>
            Adresa lokacije
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokacija.adresa)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.cijene != null)
    {
        foreach (var cijena in ViewBag.cijene)
        {
            <dl>
                <dt>
                    Vrsta ulaznice
                </dt>
                <dd>@cijena.VrstaKarte.imekategorije</dd>
                <dt>
                    Cijena 
                </dt>
                <dd>@cijena.cijena</dd>
                @Html.ActionLink("Kupi!", "Create", "Karta", new { id = Model.Id, idcijena = cijena.Id }, new { @class = "btn btn-success" })
            </dl>

        }
    }
</div>
<p>
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.Id })
}
    @Html.ActionLink("Povratak na popis događaja", "Index")
</p>
