@model PagedList<Ulaznicar.Models.Dogadjaj>
@using PagedList.Mvc;
@using PagedList;
@using Microsoft.AspNet.Identity
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@*@model IEnumerable<Ulaznicar.Models.Dogadjaj>*@

@{
    ViewBag.Title = "Popis događaja";
}

<h2>Događaji</h2>

@if (ViewBag.user == "ADMIN") 
{ 
<p>
    @Html.ActionLink("Dodaj novi događaj", "Create")
</p>
}
@using (Html.BeginForm())
{
    <p>
        Pretraži po nazivu: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Pretraži" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Plakat
        </th>
        <th>
            @Html.ActionLink("Naziv", "Index", new { sortOrder = ViewBag.NazivSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Datum održavanja", "Index", new { sortOrder = ViewBag.DatumSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Lokacija", "Index", new { sortOrder = ViewBag.LokSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            Broj mjesta
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
{
        <tr>
            <td>
                <img id="the-image" src="@Url.Action("Show", "Dogadjaj", new { id = item.Id })" style="max-height:150px; max-width:150px; border-radius:10px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojmjesta)
            </td>
           
            <td>
                @if (ViewBag.user == "ADMIN")
                {
                    <p>
                        @Html.ActionLink("Ažuriraj", "Edit", new { id = item.Id })
                    </p>
                    <p>
                        @Html.ActionLink("Izbriši", "Delete", new { id = item.Id })
                    </p>
                }
                @if (Request.IsAuthenticated)
                {
                    <p>
                        @Html.ActionLink("Detalji", "Details", new { id = item.Id })
                    </p>
                    <p>
                        @Html.ActionLink("Kupi ulaznicu!", "Create", "Karta", new { id = item.Id }, null)
                    </p>
                }
            </td>
            </tr>
}

        </table>
<div class="col-sm-10">
    <div class="center">
        <br />
        Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>