@model Ulaznicar.Models.IndexViewModel
@{
    ViewBag.Title = "Upravljačka ploča";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ažurirajte podatke o svojem korisničkom računu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Lozinka:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Promijenite svoju lozinku", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Dodajte lozinku", "SetPassword")
            }
            ]
        </dd>
        <dt>Kupi kartu:</dt>
        <dd>[@Html.ActionLink("Događaji", "Index", "Dogadjaj")]</dd>
        <dt>Pregled kupljenih ulaznica: </dt>
        <dd>
            [@Html.ActionLink("Ulaznice", "Index", "Karta")]
        </dd>
        <dt>Pokloni ulaznicu:</dt>
        <dd>[@Html.ActionLink("Ulaznice", "Index", "Karta")]</dd>
        <dt>Pošalji kartu na ispis:</dt>
        <dd>[]</dd>
@if (ViewBag.user == "ADMIN")
{
    <dt>Ažuriraj lokacije</dt>
    <dd>[@Html.ActionLink("Lokacije", "Index", "Lokacija")]</dd>
    <dt>Ažuriraj događaje</dt>
    <dd>[@Html.ActionLink("Događaji", "Index", "Dogadjaj")]</dd>
    <dt>Ažuriraj vrste karata</dt>
    <dd>[@Html.ActionLink("Vrste karata", "Index", "VrstaKarte")]</dd>
    <dt>Ažuriraj cijene karata</dt>
    <dd>[@Html.ActionLink("Cijene karata", "Index", "CijenaKarte")]</dd>

}

        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>*@
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
        @*</dd>*@
    </dl>
</div>
