@model IEnumerable<Ulaznicar.Models.Karta>

@{
    ViewBag.Title = "Moje ulaznice";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Kupi novu", "Index", "Dogadjaj")
</p>
<table class="table">
    <tr>
        <th>
            QR kod ulaznice
        </th>
        <th>
            Naziv događaja
        </th>
        <th>
            Cijena
        </th>
        <th>
            Broj ulaznice
        </th>
        <th>
            Vrsta ulaznice
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        @if (item.Dogadjaj.datum <= DateTime.Today)
        {
            <td>
                @Html.DisplayFor(modelItem => item.QR_KOD)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Dogadjaj.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CijenaKarte.cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brojkarte)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CijenaKarte.VrstaKarte.imekategorije)
        </td>
        <td>
            @Html.ActionLink("Stavi na burzu", "Create", "Burza", new { id = item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
            @Html.ActionLink("Pokloni prijatelju", "Pokloni", new { id = item.Id })
        </td>
    </tr>
}

</table>
