@model IEnumerable<Ulaznicar.Models.Burza>

@{
    ViewBag.Title = "Burza";
}

<h2>Karte na burzi</h2>

<p>
    @Html.ActionLink("Stavi svoju kartu na burzu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Karta za dogadjaj
        </th>
        <th>
            Datum ponude
        </th>
        <th>
            Datum prodaje
        </th>
        <th>
            Cijena
        </th>
        <th>
            Kupac
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KupljeneKarte.Karta.Dogadjaj.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumponude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumprodaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik.korisnickoime)
        </td>
        @if (ViewBag.user == "ADMIN")
        {
            <td>
                @Html.ActionLink("Ažuriraj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
                @Html.ActionLink("Izbriši", "Delete", new { id = item.Id })
            </td>
        }
        @if (Request.IsAuthenticated)
        {
            <td>
                @if (ViewBag.vlastite.IndexOf(item.IdKarta) != -1)
                {
                    @Html.ActionLink("Izbriši", "Delete", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Kupi ulaznicu!", "Edit", new { id = item.IdKarta })
                }
            </td>
        }
    </tr>
}

</table>
